/*
Lobster
*/

@font-face {
	font-family: 'Lobster';
	src: local('Georgia');
}

/*
Open Sans
*/

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: local('HelveticaNeue-Light');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
	src: local('HelveticaNeue-LightItalic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: local('HelveticaNeue');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	src: local('HelveticaNeue-Italic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: normal;
	src: local('HelveticaNeue');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	src: local('HelveticaNeue-Italic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: local('HelveticaNeue-Medium');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: italic;
	src: local('HelveticaNeue-MediumItalic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
	src: local('HelveticaNeue-Bold');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: local('HelveticaNeue-BoldItalic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
	src: local('HelveticaNeue-Bold');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: local('HelveticaNeue-BoldItalic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
	src: local('HelveticaNeue-Bold');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: italic;
	src: local('HelveticaNeue-BoldItalic');
}

/*
Proxima Nova
*/

/*@font-face {
	font-family: 'Proxima Nova';
	src: local('Helvetica Neue');
}

@font-face {
	font-family: 'proxima-nova';
	src: local('Helvetica Neue');
}

@font-face {
	font-family: 'proxima-nova-1';
	src: local('Helvetica Neue');
}

@font-face {
	font-family: 'proxima-nova-2';
	src: local('Helvetica Neue');
}*/