#eyebrow { display: none !important; }

/* TODO: Fix padding above user profiles. */
body.with-eyebrow {
	padding-top: 49px !important; background: none !important;
}

body.with-eyebrow #global-nav {
	top: 0 !important;
}