#eyebrow { display: none !important; }
body.with-eyebrow { padding-top: 49px !important; background: none !important; }
body.with-eyebrow #global-nav { top: 0 !important;}
body.with-eyebrow #subnav-refresh {top: -71px !important; }
body.with-eyebrow #view-holder {margin-top: -71px !important; }