@-webkit-keyframes pulse{
	20%, 70% {
		opacity: 1;
	}
	0, 100%{
		opacity: 0;
	}
}

@-webkit-keyframes heart-asplode{
	0% {
		-webkit-transform: scale(.2);
	}
	100%{
		-webkit-transform: scale(2);
	}
}

a.dribbble-over{
	opacity: 0!important;
}

.like-indicator,
.like-indicator div{
	position: absolute;
	top: 1%;
	left: 1%;
	width: 98%;
	height: 98%;
	-webkit-transform: translateZ(0);
}

.like-indicator{
	opacity: 0;
	-webkit-animation: pulse 600ms ease-in-out 0ms;
	background-color: rgba(255,255,255,.9);
	z-index: 10;
	overflow: hidden;
}

.like-indicator div{
	background-image: url("/dribbble.com/like from grid/like-heart.svg");
	background-repeat: no-repeat;
	background-position: center;

	-webkit-background-size: 240px;

	-webkit-animation-name: heart-asplode;
	-webkit-animation-duration: 600ms;
/*	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;*/
	-webkit-animation-timing-function: cubic-bezier(0.140, 1.085, 0.775, -0.095); /*cubic-bezier(0,.85,1,.15);*/
	-webkit-animation-fill-mode: forwards;
/*	-webkit-animation-delay: 2s;*/
}

.un.like-indicator div{
	background-image: url("/dribbble.com/like from grid/unlike-heart.svg");
	-webkit-animation-direction: reverse;
/*	-webkit-animation: heart-implode 1000ms ease-in-out 0ms;*/
}