.UserNews{
/*	visibility: hidden;*/
	height: 0px;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: -20px;
}

/*
.GridItems.padItems>.item:first-child{
	margin-top: 0px;
}
*/

.related-pin{
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
}

.related-pin:hover{
    opacity: 1;
}