@mixin font-replace($old-font, $new-font-ps-prefix, $suffix-map) {
  /* Man, #{$old-font} really is the worst font ever. You’re totally right, swapping it out for #{$new-font-ps-prefix}. */

  /* @group #{$old-font} */

  @each $weight, $suffix in $suffix-map{
    $italic-suffix: false;

    @font-face {
      font-family: $old-font;
      font-weight: $weight;
      font-style: normal;
      src: local("#{$new-font-ps-prefix}#{nth($suffix, 1)}");
    }

    @font-face {
      font-family: $old-font;
      font-weight: $weight;
      font-style: italic;
      src: local("#{$new-font-ps-prefix}#{nth($suffix, 2)}");
    }
  }

  /* @end */
}

@mixin replace-font-with-San-Francisco-Text($old-font) {
  $sf-map: (
    100: ("-Light", "-LightItalic"),
    200: ("-Light", "-LightItalic"),
    300: ("-Light", "-LightItalic"),
    400: ("", "-Italic"),
    500: ("-Medium", "-MediumItalic"),
    600: ("-Semibold", "-SemiboldItalic"),
    700: ("-Bold", "-BoldItalic"),
    800: ("-Heavy", "-HeavyItalic"),
    900: ("-Heavy", "-HeavyItalic"),
  );

  @include font-replace($old-font, ".SFNSText", $sf-map);
}

@mixin replace-font-with-San-Francisco-Display($old-font) {
  $sf-map: (
    100: ("-Light", "-LightItalic"),
    200: ("-Light", "-LightItalic"),
    300: ("-Light", "-LightItalic"),
    400: ("", "-Italic"),
    500: ("-Medium", "-MediumItalic"),
    600: ("-Semibold", "-SemiboldItalic"),
    700: ("-Bold", "-BoldItalic"),
    800: ("-Heavy", "-HeavyItalic"),
    900: ("-Heavy", "-HeavyItalic")
  );

  @include font-replace($old-font, ".SFNSDisplay", $sf-map);
}
