body.home {
  overflow: hidden;
}

[id^=topnews_main_stream],
[id^=mostrecent_main_stream],
[id^=pagelet_home_stream] {
  visibility: hidden;
}

.ticker_stream,
.ego_column,
#pagelet_games_rhc,
#pagelet_trending_tags_and_topics,
#pagelet_canvas_nav_content {
  display: none;
}
