/* @override http://instagram.com/bullshit */

body {
	font-size: 1.5rem;
}

body, .proxima-nova, body, input, select, textarea{
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

input, select, textarea{
	box-shadow: none;
}

.timelineItem{
	position: relative;
}

.timelineSidebar{
	display: none;
}

.timelineCenter{
	padding: 40px;
	margin: 0 auto;
}

.timelineFeedPage .top-bar{
	position: static;
}

.timelineFeedPage .main .wrapper{
	padding-top: 0px;
}

.timelineFeedPage{
	background: #fafafa;
}

.timelineBookmark{
	text-shadow: none;
}

.timelineBookmarkAvatar::after, .timelineCommentAvatar::after, .timelinePhoto::after{
	content: none;
}

.timelineCenter{
	background: none;
	border: none;
	max-width: 640px;
}

.timelineLikes{
	display: none;
}

.timelineCard,
.timelineCaption.timelineComment,
.timelineLikes{
	border: none;
	box-shadow: none;
/*	background: #fafafa;*/
	margin: 0;
}

.timelinePhoto{
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.timelineCard{
	position: relative;
	border-radius: 0;
}

.top-bar-actions,
.top-bar-actions > li > a,
.top-bar-actions > li > a:hover{
	color: #333;
	text-shadow: none;
	border: none;
	box-shadow: none;
}

span.img-outset,
span.img-outset b{
	box-shadow: none;
}

.top-bar{
	border: none;
	box-shadow: none;
	background: rgba(255,255,255,.95);
	height: 44px;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.top-bar-wrapper{
	max-width: 660px;
}

.top-bar-actions > li > a:active,
.top-bar-actions > li > a.link-active{
	background: none;
	box-shadow: none;
}

.timelinePhoto, .timelinePhoto .Image, .timelinePhoto::after{
	border-radius: 3px;
}

.timelinePhoto::after{
	content: none;
}

.timelineCard .mediaPhoto .timelinePhoto{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.top-bar .logo{
	background: url("/instagram.com/lighten up/instagram-logo.svg") no-repeat bottom center;
}

a.top-bar-home i{
	background: url("/instagram.com/lighten up/icon-house.svg") no-repeat center center;
}

.top-bar-actions > li > a{
	opacity: .4;
	-webkit-filter: grayscale(1);
	-webkit-transition: all 160ms ease-in-out;
}

#link_profile.dropdown-open a,
.top-bar-actions > li > a:hover{
	opacity: .6;
	-webkit-filter: grayscale(0);
}

.timelineCommentsViewport{
	display: none;
}