ol.dribbbles li.group .extras{
	position: relative;
}

ol.dribbbles li div.dribbble span[class]{
	margin-right: 8px;
}

ol.dribbbles .retina-shot .extras:after{
	display: inline-block;
	content: "@2x";
	color: #ea4b87;
	color: #999;
	height: 16px;
	border-radius: 3px;
	z-index: 10000000;
	font-size: 12px;
	line-height: 16px;
	width: 30px;
	font-weight: bold;
}

ol.dribbbles .retina-shot .extras:after{
	position: absolute;
	bottom: 0;
	right: -30px;
}