@mixin replace-font-with-Helvetica($font) {

	/* @group #{$font} */

	@font-face {
		font-family: $font;
		font-weight: 100;
		font-style: normal;
		src: local('HelveticaNeue-Light');
	}

	@font-face {
		font-family: $font;
		font-weight: 100;
		font-style: italic;
		src: local('HelveticaNeue-LightItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 200;
		font-style: normal;
		src: local('HelveticaNeue-Light');
	}

	@font-face {
		font-family: $font;
		font-weight: 200;
		font-style: italic;
		src: local('HelveticaNeue-LightItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 300;
		font-style: normal;
		src: local('HelveticaNeue-Light');
	}

	@font-face {
		font-family: $font;
		font-weight: 300;
		font-style: italic;
		src: local('HelveticaNeue-LightItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 400;
		font-style: normal;
		src: local('HelveticaNeue');
	}

	@font-face {
		font-family: $font;
		font-weight: 400;
		font-style: italic;
		src: local('HelveticaNeue-Italic');
	}

	@font-face {
		font-family: $font;
		font-weight: 500;
		font-style: normal;
		src: local('HelveticaNeue');
	}

	@font-face {
		font-family: $font;
		font-weight: 500;
		font-style: italic;
		src: local('HelveticaNeue-Italic');
	}

	@font-face {
		font-family: $font;
		font-weight: 600;
		font-style: normal;
		src: local('HelveticaNeue-Medium');
	}

	@font-face {
		font-family: $font;
		font-weight: 600;
		font-style: italic;
		src: local('HelveticaNeue-MediumItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 700;
		font-style: normal;
		src: local('HelveticaNeue-Bold');
	}

	@font-face {
		font-family: $font;
		font-weight: 700;
		font-style: italic;
		src: local('HelveticaNeue-BoldItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 700;
		font-style: normal;
		src: local('HelveticaNeue-Bold');
	}

	@font-face {
		font-family: $font;
		font-weight: 700;
		font-style: italic;
		src: local('HelveticaNeue-BoldItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 800;
		font-style: normal;
		src: local('HelveticaNeue-Bold');
	}

	@font-face {
		font-family: $font;
		font-weight: 800;
		font-style: italic;
		src: local('HelveticaNeue-BoldItalic');
	}

	@font-face {
		font-family: $font;
		font-weight: 900;
		font-style: normal;
		src: local('HelveticaNeue-Bold');
	}

	@font-face {
		font-family: $font;
		font-weight: 900;
		font-style: italic;
		src: local('HelveticaNeue-BoldItalic');
	}

	/* @end */
}

// Ugh
@include replace-font-with-Helvetica("Lobster");

// Dropbox
@include replace-font-with-Helvetica("Open Sans");

// Ugh, pt 2
@include replace-font-with-Helvetica("Proxima Nova");
@include replace-font-with-Helvetica("proxima-nova");
@include replace-font-with-Helvetica("proxima-nova-1");
@include replace-font-with-Helvetica("proxima-nova-2");
@include replace-font-with-Helvetica("proxima_nova"); // Spotify

// AirBNB
@include replace-font-with-Helvetica("Circular");
//@include replace-font-with-Helvetica("Circular Air Black");

@include replace-font-with-Helvetica("bryant-web");