/* This whole section is super weird. */
.profile-head {
  max-width: 600px;
  margin: 0 auto; }

ol.dribbbles li div.dribbble-img img {
  width: 100%;
  max-width: 400px;
  max-height: 300px; }

body#home ol.dribbbles li.group, body#user-profile ol.dribbbles li.group, body#profile ol.dribbbles li.group, body#shots ol.dribbbles li.group {
  width: 31.2714776632%;
  margin: 0 3.0927835052% 0 0;
  height: auto;
  margin-bottom: 20px; }
body#home ol.dribbbles li.group:nth-child(3n), body#user-profile ol.dribbbles li.group:nth-child(3n), body#profile ol.dribbbles li.group:nth-child(3n), body#shots ol.dribbbles li.group:nth-child(3n) {
  margin-right: 0; }
body#home #header-inner, body#home #content, body#home div.profile-dash div.profile-dash-inner, body#user-profile #header-inner, body#user-profile #content, body#user-profile div.profile-dash div.profile-dash-inner, body#profile #header-inner, body#profile #content, body#profile div.profile-dash div.profile-dash-inner, body#shots #header-inner, body#shots #content, body#shots div.profile-dash div.profile-dash-inner {
  max-width: 1344px; }

.dribbbles .dribbble div[data-picture] {
  -webkit-filter: grayscale(50%);
  opacity: 0.5;
  image-rendering: -webkit-optimize-contrast; }

@-webkit-keyframes fadeInAllSexyLike {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

ol.dribbbles li div.dribbble a.dribbble-over {
  bottom: 0px; }

.dribbble-img {
  position: relative; }

.full-image {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation: fadeInAllSexyLike 1000ms; }

#main.main-full, #main.full-800 {
  float: none;
  width: auto;
  max-width: 100%; }
