/*

Fixing some annoyances (thin type, letterspaced Helvetica, bootstrappy buttons).
BECAUSE I CAN.

*/

/* KILL IT WITH FIRE */
*{
	letter-spacing: 0!important;
}

/* I wish CSS had a min-font-weight property I could override. */
body,html,*{
/*	font-weight: 400;*/
}

div.photo .details{
	height: 60px;
}

/* Font weight set to 100?! */
div.photo .details .title{
	font-weight: 500;
	left: 12px;
	top: 10px;
}

div.photo .details .info{
	font-weight: 400;
	font-size: 14px;
	bottom: 11px;
	left: 12px;
	line-height: 16px;
}

div.photo .details .rating{
	line-height: 60px;
	right: 14px;
	font-size: 28px;
	font-weight: 200;
}

nav .main li a {
	font-size: 14px;
}

#flow .bar.short{
	font-size: 14px;
}

#activities .activity .information .content p{
	font-size: 14px;
}

ul.boxed li.selected a, ul.boxed li.active a{
	font-weight: 600;
}

nav .main li a{
	font-weight: 500;
}

nav .user .box span{
	font-weight: 700;
}

input, textarea, select,
::-webkit-input-placeholder{
	font-weight: 500;
	letter-spacing: 0;
}

ul.boxed li.selected, ul.boxed li.active{
	box-shadow: none;
}

nav .upload .button,
nav .upload .button_dropdown,
nav .upload .button_normal,
.button[class],.button[class]:hover,.button[class]:active,
.button,.button:hover,.button:active {
	font-weight: 600;
	background-image: none;
	text-shadow: none;
	border: none;
	box-shadow: none;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.tabs{
	font-weight: 400;
}


/* Photo page stuff */

body.v3 .outer_photo_carousel h2 a{
	font-weight: 600;
	text-transform: none;
	font-size: 24px;
}

body.v3 .photo_show .photo_details .meta_data_wrap .photo_meta_data .tabs a.tab,
body.v3 .photo_show h2{
	font-weight: 600;
	/* Some of the H2s are capitalized in code. I’d rather look at lowercase than SHOUTINGCASE */
	text-transform: lowercase;
	font-size: 24px;
}

body.v3 .photo_show .photo_header .actions .stats .data_wrap .pulse_wrap .value,
body.v3 .photo_show .photo_header .name_wrap .right_side .name{
	margin-bottom: 6px;
}

body.v3 .photo_show .photo_header .name_wrap .right_side .name{
	font-weight: 600;
}

body.v3 .photo_show .photo_header .name_wrap .right_side .author_follow_button{
	position: relative;
	top: 1px;
}

.v3_header_badge, body.v3 .photo_show h2 .badge, body.v3 .user_avatars h2 .badge{
	position: relative;
	top: -3px;
}

.user_avatar a.user_avatar_link,
.user_avatar a.user_avatar_link img{
	-webkit-border-radius: 3px;
}