body{
	background: #FFF!important;
}

body:after{
	content: "NOPE";
	font: 50px/500px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	text-align: center;
	width: 100%;
	background: #000;
	color: #FFF;
	font-weight: 900!important;
	z-index: 10000000;
}