.dribbble-over{
/*	display: none!important;*/
}

ol.dribbbles li div.dribbble-img img {
	width: 100%;
	max-height: 300px;
}

body#shots ol.dribbbles li.group {
	width: 400px;
	height: 300px;
	margin-right: 30px;
	margin-bottom: 100px;
}

body#shots ol.dribbbles li.group:nth-child(4n){
	margin-right: 30px;
}