@-webkit-keyframes pulse{
	40%, 60% {
		opacity: 1;
	}
	0, 100%{
		opacity: 0;
	}
}

@-webkit-keyframes heart-asplode{
	0% {
		-webkit-transform: scale(.2);
	}
	100%{
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes heart-implode{
	0%, 70%{
		-webkit-transform: scale(1);
	}
	100%{
		-webkit-transform: scale(.2);
	}
}

.like-indicator,
.like-indicator div{
	position: absolute;
	top: 1%;
	left: 1%;
	width: 98%;
	height: 98%;
	-webkit-transform: translateZ(0);
}

.like-indicator{
	opacity: 0;
	-webkit-animation: pulse 900ms ease-out;
	background-color: rgba(255,255,255,.9);
}

.like-indicator div{
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path d="M32 57.998c14.583-14.48 30.001-20.735 30.001-34.583 0-8.125-6.303-15.413-14.05-15.413-11.051 0-15.951 8.538-15.951 8.538s-4.898-8.538-15.95-8.538c-7.748 0-14.05 7.288-14.05 15.413-.001 13.85 15.417 20.105 30 34.583z" fill="#EA4C88"/></svg>');
	background-repeat: no-repeat;
	background-position: center;

	-webkit-background-size: 240px;
	-webkit-animation: heart-implode 900ms ease-out;
}

.un.like-indicator div{
	background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path d="M47.95 8.002c-6.552 0-10.926 2.997-13.414 5.44l-2.801 8.426 4.873-.693-3.445 11.494 3.847-.467-5.662 17.869 1.603-13.767-4.289.644 2.119-10.962-5.055.443 3.242-13.463c-2.558-2.338-6.788-4.964-12.918-4.964-7.748 0-14.05 7.288-14.05 15.413 0 13.85 15.418 20.105 30.001 34.583 14.583-14.48 30.001-20.735 30.001-34.583-.001-8.125-6.304-15.413-14.052-15.413z" fill="#EA4C88"/></svg>');
	-webkit-animation: heart-implode 900ms ease-out;
}