.the-shot .single-img img{
	image-rendering:-webkit-optimize-contrast;
}

a,span.badge{
	transition: color 140ms ease-in-out, background-color 140ms ease-in-out;
}

ol.prevnext li.prev,
ol.prevnext li.next,
div.the-shot div.single,
form.comment textarea,
ol.dribbbles li div.dribbble {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.11);
}

#wrap{
	background: #EEE;
}

form.comment textarea {
	border: none;
	background: #ffffff;
	border-radius: 4px;
	transition:
		max-height       200ms ease-in-out,
		background-color 200ms linear;
	max-height: 40px;
	padding: 10px;
}

form.comment textarea:focus{
	max-height: 120px;
}

.form-sub, a.form-sub-big, a.form-sub-teams,
a.form-sub,
a.form-sub-big,
a.form-sub-teams,
div.comment-body form.comment button[type="submit"],
div.page a,
div.page a:hover,
a.unfollow,
a.unfollow:hover,
a.action,
a.action:hover, a.follow:hover, a.unfollow:hover, div.follow-prompt a.unblock:hover,
a.edit-avatar{
	border-radius: 3px;
	background-image: none;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.11);
}

.has-sub{
	position: relative;
	z-index: 1000;
}

#nav li ul.tabs{
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21), 0 0 0 1px rgba(0, 0, 0, 0.11);
}

div.member-actions.active a.settings{
	background-image: none;
}

ul.actions-on-user{
}

ol.comments li h2 a:hover img{
	opacity: 1;
}

ol.dribbbles li div.dribbble a.dribbble-over{
	width: 96%;
	margin: 2% 2% 0;
}

#header {

}

body#user-profile #nav li#t-profile a,
body#shots #nav li#t-shots a,
body#players #nav li#t-players a,
body#explore #nav li#t-explore a,
body#teams #nav li#t-teams a,
body#jobs #nav li#t-jobs a,
body#upld #nav li#t-upld a,
body#about #nav li#t-about a,
body#following li#t-following a,
body#incoming-activity li#t-activity a,
body#signup #nav li#t-signup a,

#nav li#t-profile:hover a.url,
body#user-profile #nav li#t-profile:hover a.url,
#nav li#t-shots:hover a.has-sub,
body#shots #nav li#t-shots:hover a.has-sub,
#nav li#t-players:hover a.has-sub,
body#players #nav li#t-players:hover a.has-sub,
#nav li#t-explore:hover a.has-sub,
body#explore #nav li#t-explore:hover a.has-sub,

#nav li#t-profile:hover a,
body#user-profile #nav li#t-profile:hover a,
#nav li#t-shots:hover a,
body#shots #nav li#t-shots:hover a,
#nav li#t-players:hover a,
body#players #nav li#t-players:hover a,
#nav li#t-explore:hover a,
body#explore #nav li#t-explore:hover a,
#nav li#t-activity:hover a,

#nav li a:hover,
#nav li#t-profile:hover a,
#nav li#t-shots:hover a,
#nav li#t-players:hover a,
#nav li#t-explore:hover a,
#nav li#t-activity:hover a{
	background-image: none;
	box-shadow: none;
}

#nav li a{
	transition: none;
}

#nav li#t-activity:hover a{
	background-color: #eff0ef;
}

#nav li ul.activity-mini,
ol.player-cards li.team-jobs,
div.single-title span.team-avatar,
.lightbox{
	background-image: none;
}