.tweet{
	border-bottom: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.tweet.promoted-tweet,
.tweet[data-retweeter]{
	opacity: .2;
	-webkit-transition: opacity 200ms linear;
}

.tweet.promoted-tweet:hover,
.tweet[data-retweeter]:hover,
.expanded-conversation .tweet.promoted-tweet,
.expanded-conversation .tweet[data-retweeter]{
	opacity: 1;
}